.prettiertignore

dist
node_modules
container
security
src/ui/assets/*
coverage
commitlint.config.js

.gitbub
.jest
.gitignore
.gitattributes

.editorConfig
.dockerignore
*.md
*.prisma

tsconfig.json
.prettierignore
.prettierrc

yarn.lock
